
<h3> Forecast value in Orange, Harvest value in Blue </h3>
<h3> SKU's less than 50% sold in Green, at least 50% but less than 75% in Yellow, at least 75% sold in Red </h3>
<h3> Data refreshed every 15 minutes. Data last refresh at <%= display_stamp(@date) %>. </h3>
