<p class="legend"> Forecast value in Orange, Harvest value in Blue <br>
    SKU's less than 50% sold in Green, at least 50% but less than 75% in Yellow, at least 75% sold in Red <br>
    Data refreshed every 15 minutes. Data last refresh at <%= display_stamp(@date) %>. </p>
