table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th{
  text-align: left;
}

tr#green {
  background-color: rgb(102,255,102);
}

tr#yellow {
  background-color: rgb(255,255,102);
}

tr#red {
  background-color: rgb(255,153,153);
}

td#blue {
  background-color: rgb(51,153,255);
}

td#orange {
  background-color: orange;
}

#navbar span {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(153,255,255);
  float: left;
  border-right:1px solid #bbb;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar span:hover {
    background-color: rgb(255,255,102);
    color: black;
}

.dropbtn {
    background-color: rgb(153,255,255);
    border: none;
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(153,255,255);
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content span:hover {background-color: rgb(255,255,102)}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(255,255,102);
}

.active {
    background-color: #4CAF50;
}

.paging-nav {
  text-align: left;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}
